div .pedidos {
    font-size: 0.9rem;
    width: 275px;
    border-radius: 5px;
    background-color: white;
    height: 600px;

}
.pedidos h1{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0.8rem 0 1rem 1.1rem;

    background-color: #26AC1E;
    color: white;
}

aside div{
    font-size: 1rem;
    font-weight: 500;
}

 div.form-pedidos{
    padding: 1.1rem;
      
}
input{
    padding: 7px ;
    border: 1px solid  #ccc;
    width: 100%;
    font-family: Inter;
    border-radius: 4px;
    box-shadow:  1px 1px 5px rgba(50, 50, 50, 0.5);
}
input:focus{
    outline: none;
    border:1px solid #505050;
    
}

select{
    padding: 7px ;
    border: 1px solid  #ccc;
    width: 100%;
    box-shadow:  2px 2px 5px rgba(50, 50, 50, 0.5);
    border-radius: 4px;
    font-family: Inter;
}
select:focus{
    outline: none;
    border:1px solid #505050;
    
}
 label.label-pedidos{
    display:inline-block;
    margin: 12px 0 7px 0;
}


textarea{
    padding-top: 28px;
    width: 100%;
    height: 140px;
    border: 1px solid  #ccc;
    border-top-left-radius: 0px;
    border-radius: 4px;
    padding-left: 5px;
    resize: none;
    font-size: 0.9rem;
    font-family: Inter;
    box-shadow:  2px 2px 5px rgba(50, 50, 50, 0.5);
    
}
textarea:focus {
    outline: none;
    border:1px solid #505050;
    
}
.editor-textarea{
    background-color: #ccc;
    position: relative;
    top:28px;
    margin: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
.editor{
    position: relative;
    top:-28px;
}
.editor-textarea button{
    margin: 3px;
    display:inline-block;
    padding: 2px 5px 2px 5px;
}

button.b{
    width: 20px;
    text-align: center;
    outline: none;
    border: 0px;
    background-color: #ccc;
}
button.b:hover{
    font-weight: bold;
}
button.b:focus{
    font-weight: bold;
    background-color: #888888;
}
span.space{
    color:rgb(114, 114, 114);
}
button.u{
    width: 20px;
    background-color: #ccc;
    border: 0px;
    outline: none;
    text-decoration: underline;
}
button.u:hover{
    font-weight: bold;
}
button.u:focus{
    font-weight: bold;
    background-color: #888888;
}


.pedidos  footer{
    position: relative;
    top:-15px;
    width: 100%;
    background-color: #ccc;
    height: 95px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    
    
    button{
        color:white;
        font-weight: 600;
    }
    .btn-cancel{
        width: 35%;
        border-radius: 5px;
        outline: none;
        border: 1px solid  #4e4e4e;
        background-color: #464646;
        box-shadow:  2px 2px 5px #464646;
        
    }
    .btn-cancel:hover{
        
        background-color: #6b6b6b;
        box-shadow:  2px 2px 5px #6b6b6b;
        
    }

    .btn-send{
        width: 60%;
        border-radius: 5px;
        border: 1px solid  #258a20;
        outline: none;
        background-color: #26AC1E;
        box-shadow:  2px 2px 5px #258a20;
        }
        .btn-send:hover{
            border: 1px solid  #26AC1E;
            background-color: #289422;
            box-shadow:  2px 2px 5px #226d1e;
            }
        .btn-send:focus{
            border: 1px solid  #258a20;
            background-color: #289422;
            }
}